body {
    margin: 0;
    padding: 0;
    user-select: none;
    background: linear-gradient(180deg, red, blue);
    block-size: 100dvh;
    inline-size: 100%;
}

:root {
    --primary: rgb(255, 250, 250);
    --secondary: rgb(3, 3, 3);
}

.off-screen-menu {
    background-color: var(--primary);
    max-inline-size: 250px;
    color: var(--primary);
    position: fixed;
    top: 0;
    left: -250px;
    margin-top: 40px;
    flex-direction: column;
    place-content: top top;
    place-items: center;
    text-align: center;
    font: normal normal 3rem sans-serif;
    transition: .3s ease;
    block-size: 100dvh;
    inline-size: 100%;

}

.off-screen-menu.active {
    left: 0;
}

.off-screen-menu li {
    list-style: none;
    margin-top: 40px;
}

.off-screen-menu a {
    text-decoration: none;
    color: var(--secondary);
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--primary);
}

#logo {
    block-size: 100px;
    inline-size: 80px;
    z-index: 100;
    position: absolute;
    top: 0;
    right: -110px;
    display: flex;

    &::before {
        content: "";
        background: url("https://discipulusv2.amasystem.net/Images/AMAES-Logo.png") center / cover no-repeat;
        background-size: contain;
        block-size: 50px;
        inline-size: 100%;
        z-index: 100;
    }
}

.ham-menu {
    block-size: 50px;
    inline-size: 50px;
    margin-right: auto;
    position: relative;
}   

.ham-menu span {
    background: var(--secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: .3s ease;
    block-size: 5px;
    inline-size: 100%;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    top: 30%;
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


#hero {
    font: normal 900 3rem "system-ui", sans-serif;
    text-align: center;
    color: white;
}


